@import "tailwindcss";

@layer utilities {
  .font-space {
    font-family: 'Space Grotesk', sans-serif;
  }
  .font-syne {
    font-family: 'Syne', sans-serif;
  }
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #020617;
}
::-webkit-scrollbar-thumb {
  background: #1e293b;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
